/* General styling */
* {
    font-family:Georgia, 'Times New Roman', Times, serif;
}

:root {
    --light: white;
    --dark: #424874;
    --bright: #ff3e88;
}

.btn-primary {
    --bs-btn-color:var(--light);
--bs-btn-bg:var(--dark);
--bs-btn-border-color:var(--dark);
--bs-btn-hover-color: var(--light);
--bs-btn-hover-bg: var(--dark);
--bs-btn-hover-border-color:var(--dark);
--bs-btn-focus-shadow-rgb: 49,132,253;
--bs-btn-active-color: var(--light);
--bs-btn-active-bg: var(--dark);
--bs-btn-active-border-color: var(--dark);
--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
--bs-btn-disabled-color: var(--light);
--bs-btn-disabled-bg: var(--dark);
--bs-btn-disabled-border-color: var(--dark);
}

.btn:hover {

background-color: #4c506f;
border-color:#4c506f;

}

/* Navbar styling */

h2 {
    background-color: #DCD6F7;
}
    .navbar {
    background-color: var(--dark) !important;
}

.nav-link {
    color:var(--bright);
}

.navbar-brand {

    color:var(--dark);
}

.navbar-toggler {
    color:var(--light);
}


/* Jumbotron styling */

h1 {
    color: var(--light);
}

.image-hero {
    width: 200px;
    height: 300px;
}
.col-lg-5 {
    width: 20%;
}

#jumbotron {
    background: linear-gradient(90deg, rgba(53, 56, 64, 1) 0%, rgba(255, 62, 136, 1) 35%, rgba(156, 217, 217, 1) 100%);
 }

/* my work section */

.work, .skills {
    color: #424874;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 50px;
    font-size: 40px;
}

.work-gap {
    row-gap: 30px;
}

.card {
    border: solid 2px var(--bright);
}
.work h3 {
    font-size: 16px;
}

/* my skills section styling */

.skill-list {
    justify-content: center;
}

.list-group-item {
    border: solid 2px var(--bright);
    color: var(--dark);
}
#skills-section {
 background: linear-gradient(90deg, rgba(53, 56, 64, 1) 0%, rgba(255, 62, 136, 1) 35%, rgba(156, 217, 217, 1) 100%);

}

/* my contact section styling */

.contact-me {
    margin-top: 80px;
    margin-bottom: 50px;
}

.contact-border {
    border: solid 2px var(--bright);
}

.card-title {
    color:var(--bright);
}

#skills-section {
    margin-top:50px
}

/* footer styling */

footer {
    background-color:var(--bright);
    
}
#twitter-link:hover, #instagram-link:hover, #facebook-link:hover {
    opacity: 0.6;
}